footer.footer.footer-map
    .footer-raw.footer-top
        .footer-raw__col
            .footer-col Этот сайт я сделал в рамках обучения в Школе образования Loftschool.
            .footer-col
                .footer-links
                    a.footer-links__item.my-works__link(href='works.html') Мои работы
                    a.footer-links__item.about__link(href='about.html') Обо мне
                    a.footer-links__item.blogs__link(href='blog.html') Блог
                    a.footer-links__item.autorization__link(href='welcome.html') Авторизация
                ul.socials.footer-socials
                    li.socials__item
                        a.social-link(href="https://vk.com/malashik91" target='_blank')
                            svg.svg-vk(width="30.011px" height="24px")
                                use(xlink:href="../assets/images/icons/sprite.svg#vk")
                    li.socials__item
                        a.social-link(href="https://github.com/malashik" target='_blank')
                            svg.svg-git(width="26px" height="23px")
                                use(xlink:href="../assets/images/icons/sprite.svg#git")
                    li.socials__item
                        a.social-link(href="#")
                            svg.svg-in(width="24px" height="21.938px" target='_blank')
                                use(xlink:href="../assets/images/icons/sprite.svg#in")
        .footer-col__last
            .footer-col__quote Всегда пишите код так, словно сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
            .footer-col__quote-name &ndash; Мартин Голдинг
    .footer-raw.footer-bottom
        .note &copy; Малаш Александр | создано с любовью в loftschool | 2017
script(src="../assets/js/jquery-3.2.1.min.js")
script(src="../assets/js/main.js")
//- script(src="../assets/js/waterAdd.js")
