extends ../common/template

block variables 
    - var title = "Обо мне"

block content
    .sections
        .section-head
            .section-head__row
                ul.socials.head-socials 
                    li.socials__item
                        a.social-link(href="#")
                            svg.svg-vk(width="30.011px" height="24px")
                                use(xlink:href='../assets/images/icons/sprite.svg#vk')
                    li.socials__item 
                        a.social-link(href="#")
                            svg.svg-git(width="26px" height="23px")
                                use(xlink:href='../assets/images/icons/sprite.svg#git')
                    li.socials__item
                        a.social-link(href="#")
                            svg.svg-in(width="24px" height="21.938px")
                                use(xlink:href='../assets/images/icons/sprite.svg#in')
                .hamburger
                    svg.hamburger__top(width="40px" height="5px")
                        use(xlink:href='../assets/images/icons/hamburger_parts.svg#top')
                    svg.hamburger__middle(width="40px" height="5px")
                        use(xlink:href='../assets/images/icons/hamburger_parts.svg#middle')
                    svg.hamburger__bottom(width="40px" height="5px")
                        use(xlink:href='../assets/images/icons/hamburger_parts.svg#bottom')
                    .full-screen
                        a.title.title_fixed(href="works.html") Мои работы
                        a.title.title_fixed(href="blog.html") Блог
                        a.title.title_fixed(href="about.html") Обо мне
                        a.title.title_fixed(href="index.html") Авторизация
            .person.about-person
                .person__avatar
                    img.avatar-little(src="../assets/images/avatar-little.jpg", alt="")
                .person__name Малаш Александр
                .person__info Личный сайт разработчика
            .btn-down
                svg(width="26px" height="17px")
                    use(xlink:href='../assets/images/icons/arrow_down.svg#down')
        .section-about
            .about-left
                //- .about-left__wrap
                svg.svg-left(width="100%" height="125.986px")
                    polygon(points='0,0 0,125 1000,125 1000,100' viewBox="0 0 100% 125")   
                    //- use(xlink:href='../assets/images/icons/about_bg.svg#left')
                .about-title__container
                    h2.title.about-left__title Обо мне
                .about-left__content
                    img.about__content-bigAva(src="../assets/images/avatar-big.jpg", alt="")
                    h3.title.about-left__desc Кто я
                    .about__content-desc
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo perferendis odit corporis. Minus sequi repellendus facere magnam consectetur ratione sed! Quibusdam, aliquam nam. Suscipit voluptas eos consectetur. Temporibus, consequatur ab?
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo perferendis odit corporis. Minus sequi repellendus facere magnam consectetur ratione sed! Quibusdam, aliquam nam. Suscipit voluptas eos consectetur. Temporibus, consequatur ab?
            .about-right
                //- svg.svg-right (width="600.006px" height="125.986px")
                //-     polygon(points='0,100 0,125 600,125 600,0')   
                    //- use(xlink:href='../assets/images/icons/about_bg.svg#right')
                .about-right__wrap   
                    h3.title.about-right__title Чем я могу быть вам полезен
                    .about-right__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta amet dolore placeat quia provident rem. Assumenda fugiat quaerat, optio odio facere voluptas aliquid mollitia ipsa perspiciatis, harum corporis tenetur alias!
                    .about-skils
                        .about-skils__title Frontand
                        .about-skils__row
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_html5
                                span.circle-title HTML5 
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_css3
                                span.circle-title CSS3 
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_javascript
                                span.circle-title JavaScript &amp; jQuery   
                        .about-skils__title Backend
                        .about-skils__row
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_php
                                span.circle-title PHP
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_mysql
                                span.circle-title mySQL 
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_nodejs
                                span.circle-title Node.js &amp; npm   
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_mongodb
                                span.circle-title Mongo.db   
                        .about-skils__title WorkFlow
                        .about-skils__row
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_git
                                span.circle-title Git 
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_gulp
                                span.circle-title Gulp   
                            .about-skils__item
                                svg.circle-svg
                                    circle(r='45' cx='50%' cy='50%').circle-first
                                    circle(r='45' cx='50%' cy='50%').circle-second.circle-second_bower
                                span.circle-title Bower
        .section-map
            .google-map
            .contacts-map
                h3.title.title-map Контакты
                ul.contacts__list
                    li.contacts-row
                        .contacts-row__icon.contacts-row__icon_skype 
                        .contacts-row__content skype
                    li.contacts-row
                        .contacts-row__icon.contacts-row__icon_email
                        .contacts-row__content malashik9110@gmail.com
                    li.contacts-row
                        .contacts-row__icon.contacts-row__icon_phone
                        .contacts-row__content +375 44 517-02-15
                    li.contacts-row
                        .contacts-row__icon.contacts-row__icon_city
                        .contacts-row__content Минск
    include ../common/footer
