extends ../common/template

block variables 
    - var title = "Блог"

block content
    .blog
        .section-head
            .section-head__row
                ul.socials.head-socials 
                    li.socials__item
                        a.social-link(href="#")
                            svg.svg-vk(width="30.011px" height="24px")
                                use(xlink:href='../assets/images/icons/sprite.svg#vk')
                    li.socials__item 
                        a.social-link(href="#")
                            svg.svg-git(width="26px" height="23px")
                                use(xlink:href='../assets/images/icons/sprite.svg#git')
                    li.socials__item
                        a.social-link(href="#")
                            svg.svg-in(width="24px" height="21.938px")
                                use(xlink:href='../assets/images/icons/sprite.svg#in')
                .hamburger 
                    .full-screen
                        a.title.title_fixed(href="works.html") Мои работы
                        a.title.title_fixed(href="blog.html") Блог
                        a.title.title_fixed(href="about.html") Обо мне
                        a.title.title_fixed(href="login.html") Авторизация
            .person.blog-person
                .person__avatar
                    img.avatar-little(src="../assets/images/avatar-little.jpg", alt="")
                h2.title.blog__title Блог
                .blog-desc Статьи, которые я написал
        .blog-content 
            .blog-row
                .blog-nav__wrap
                    ul.blog-nav
                        .circle-nav.circle-nav_active
                        li.blog-nav__item
                            a.blog-nav__link(href="#") Самое важное в SASS
                        li.blog-nav__item 
                            a.blog-nav__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.blog-nav__item 
                            a.blog-nav__link(href="#") Моя сборка на Gulp
                        li.blog-nav__item 
                            a.blog-nav__link(href="#") Почему я выбрал Jade
                        li.blog-nav__item 
                            a.blog-nav__link(href="#") Почему я выбрал Jade
                        li.blog-nav__item 
                            a.blog-nav__link(href="#") Почему я выбрал Jade
                        li.blog-nav__item 
                            a.blog-nav__link(href="#") Почему я выбрал Jade
                        li.blog-nav__item 
                            a.blog-nav__link(href="#") Почему я выбрал Jade
                .blog-articles    
                    .article
                        h3.article__title Самое важное в SASS
                        .article__date 03 ноября 2012
                        .article__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit eligendi quae modi eum ea distinctio veniam cum minus non. Sit qui voluptatum, excepturi voluptate consequuntur cupiditate pariatur nisi praesentium corrupti velit tempore facilis necessitatibus iste est blanditiis doloribus quis. Magni facere, ratione suscipit temporibus dicta dolorem nihil eaque excepturi dolores sed provident nesciunt voluptatem voluptates placeat aliquid veritatis ut hic eius aperiam corporis dolore reprehenderit nobis quo nemo? Culpa illum saepe explicabo possimus, quas velit vel magni odio harum deleniti numquam sit accusantium voluptatibus molestias similique cumque repudiandae animi quaerat aspernatur officia libero, omnis necessitatibus eius! Nemo, facilis porro.
                    .article
                        h3.article__title Секретные приемы верстки
                        .article__date 09 февраля 2017
                        .article__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sit sint, provident modi eum eaque molestiae natus quos nam ratione dicta esse ex saepe recusandae voluptatum repudiandae similique, sapiente deserunt est id! Assumenda quis veritatis iusto ea vitae sunt vel repellendus ex debitis sed quidem nesciunt placeat illo dolores perspiciatis doloribus similique, impedit laboriosam exercitationem atque sequi accusamus, facere voluptate. Quidem dolorum, totam cumque sunt rerum quia et omnis sit fugit ipsam facere consectetur atque dolorem earum quaerat eos necessitatibus ut, accusamus temporibus soluta hic nostrum ex laudantium voluptas. Possimus, officia mollitia at rerum reprehenderit nulla quisquam architecto illum voluptate?
                    .article
                        h3.article__title Секретные приемы верстки еще раз
                        .article__date 09 февраля 2017
                        .article__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sit sint, provident modi eum eaque molestiae natus quos nam ratione dicta esse ex saepe recusandae voluptatum repudiandae similique, sapiente deserunt est id! Assumenda quis veritatis iusto ea vitae sunt vel repellendus ex debitis sed quidem nesciunt placeat illo dolores perspiciatis doloribus similique, impedit laboriosam exercitationem atque sequi accusamus, facere voluptate. Quidem dolorum, totam cumque sunt rerum quia et omnis sit fugit ipsam facere consectetur atque dolorem earum quaerat eos necessitatibus ut, accusamus temporibus soluta hic nostrum ex laudantium voluptas. Possimus, officia mollitia at rerum reprehenderit nulla quisquam architecto illum voluptate?
        include ../common/footer
