extends ../common/template

block variables 
    - var title = "Блог"

block content
    .blog
        .blog-head
            .person.blog-person
                .person__avatar
                    img.avatar-little(src="../assets/images/avatar-little.jpg", alt="")
                h2.title.blog__title Блог
                .blog-desc Статьи, которые я написал
        .blog-content 
            ul.blog-nav
                li.blog-nav__item Самое важное в SASS
                li.blog-nav__item Секретные приемы верстки
                li.blog-nav__item Моя сборка на Gulp
                li.blog-nav__item Почему я выбрал Jade
            .blog-articles    
                .article
                    h3.article__title.title Самое важное в SASS
                    .article__date 03/10/12
                    .article__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit eligendi quae modi eum ea distinctio veniam cum minus non. Sit qui voluptatum, excepturi voluptate consequuntur cupiditate pariatur nisi praesentium corrupti velit tempore facilis necessitatibus iste est blanditiis doloribus quis. Magni facere, ratione suscipit temporibus dicta dolorem nihil eaque excepturi dolores sed provident nesciunt voluptatem voluptates placeat aliquid veritatis ut hic eius aperiam corporis dolore reprehenderit nobis quo nemo? Culpa illum saepe explicabo possimus, quas velit vel magni odio harum deleniti numquam sit accusantium voluptatibus molestias similique cumque repudiandae animi quaerat aspernatur officia libero, omnis necessitatibus eius! Nemo, facilis porro.
                .article
                    h3.article__title.title Секретные приемы верстки
                    .article__date 09/02/17
                    .article__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sit sint, provident modi eum eaque molestiae natus quos nam ratione dicta esse ex saepe recusandae voluptatum repudiandae similique, sapiente deserunt est id! Assumenda quis veritatis iusto ea vitae sunt vel repellendus ex debitis sed quidem nesciunt placeat illo dolores perspiciatis doloribus similique, impedit laboriosam exercitationem atque sequi accusamus, facere voluptate. Quidem dolorum, totam cumque sunt rerum quia et omnis sit fugit ipsam facere consectetur atque dolorem earum quaerat eos necessitatibus ut, accusamus temporibus soluta hic nostrum ex laudantium voluptas. Possimus, officia mollitia at rerum reprehenderit nulla quisquam architecto illum voluptate?
        footer.footer.footer-map
            .footer-raw.footer-top
                .footer-col Этот сайт я сделал в рамках обучения в Школе образования Loftschool.
                .footer-col
                    .footer-links
                        a.footer-links__item.my-works__link Мои работы
                        a.footer-links__item.about__link Обо мне
                        a.footer-links__item.blogs__link Блог
                        a.footer-links__item.autorization__link Авторизация
                    ul.socials.footer-socials
                        li.socials__item
                            a.social-link.vk(href="#") вк
                        li.socials__item
                            a.social-link.github(href="#") гит
                        li.socials__item
                            a.social-link.in(href="#") инст
                .footer-col 
                    .footer-col__quote Всегда пишите код так, словно сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                    .footer-col__quote-name &ndash; Мартин Голдинг
            .footer-raw.footer-bottom
                .note &copy; Малаш Александр | создано с любовью в loftschool | 2017
            

