extends ../common/template

block variables 
    - var title = "Обо мне"

block content
    .login-wrapper
        form.login
            h2.title.login-title Авторизуйтесь
            .login-input__wrap
                .login-input__pic-text
                input.login-input__text(type="text" placeholder='Логин')
            .login-input__wrap
                .login-input__pic-pasw
                input.login-input__text(type="password" placeholder='Пароль')
            label.login-input__label
                input.login-input__checkbox(type="checkbox" value='Я человек')
                span Я человек
            .login-input__question Вы точно не робот?
            .login-input__row
                label.login-input__label
                    input.login-input__radio(type="radio" name='isRobot' value='Да')
                    span.yes Да 
                 
                    input.login-input__radio(type="radio" name='isRobot' value='Нет' checked)
                    span.yes Нет
            .login-input__btns
                a.login-input__link(href="index.html") На главную
                a.login-input__link(href="#") Войти
        .note &copy; Малаш Александр | создано с любовью в loftschool | 2017             
