extends ../common/template

block variables 
    - var title = "Мои работы"

block content
    .sections
        .section-head
            .section-head__row
                ul.socials.head-socials 
                    li.socials__item
                        a.social-link(href="#")
                            svg.svg-vk(width="30.011px" height="24px")
                                use(xlink:href='../assets/images/icons/sprite.svg#vk')
                    li.socials__item 
                        a.social-link(href="#")
                            svg.svg-git(width="26px" height="23px")
                                use(xlink:href='../assets/images/icons/sprite.svg#git')
                    li.socials__item
                        a.social-link(href="#")
                            svg.svg-in(width="24px" height="21.938px")
                                use(xlink:href='../assets/images/icons/sprite.svg#in')
                .hamburger 
                    .full-screen
                        a.title.title_fixed(href="works.html") Мои работы
                        a.title.title_fixed(href="blog.html") Блог
                        a.title.title_fixed(href="about.html") Обо мне
                        a.title.title_fixed(href="login.html") Авторизация
            .person.welcom-person
                .person__avatar
                    img.avatar-little(src="../assets/images/avatar-little.jpg", alt="")
                .person__name Малаш Александр
                .person__info Личный сайт разработчика
            .btn-down
                svg(width="25.18px" height="16.164px")
                    use(xlink:href='../assets/images/icons/arrow_down.svg')
        .works
            .title-work__container
                h2.title.title-work Мои работы
            .works-row
                .works-col.works-col_left
                    .works-col__pic-wrap
                        img.works-col__pic(src="../assets/images/works.png", alt="")              
                .works-col.works-col_right
                    h3.title.works-desc__title Сайт школы онлайн образования
                    .works-desc__tools HTML, CSS, JAVASCRIPT
                    a.works-desc__btn Просмотреть сайт
        .works-feedback
            .works-feedback__title-container
                h2.works-feedback__title.title Что обо мне говорят
            .works-feedback__row
                .works-feedback__item
                    .works-feedback__foto
                        img(src="../assets/images/dima.jpg", alt="")
                    .works-feedback__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 3 месяца только самых тяжелых испытаний и бессонных ночей!
                    .works-feedback__name Ковальчук Дмитрий
                        span.works-feedback__name-job -основатель Loftschool
                .works-feedback__item
                    .works-feedback__foto
                        img(src="../assets/images/vova.jpg", alt="")
                    .works-feedback__desc Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .works-feedback__name Сабанцев Владимир
                        span.works-feedback__name-job -преподаватель
            form.works-connect(action="") 
                h3.title.works-connect__title Связаться со мной
                input.works-connect__item.works-connect__name(type="text" placeholder="Имя")
                input.works-connect__item.works-connect__email(type="email" placeholder="Email" )
                textarea.works-connect__textarea(name="textarea" cols="10" rows="10" placeholder="Введите ваше сообщение")
                .works-connect__btns
                        input.btn-send(type="submit" value="Отправить")
                        input.btn-reset(type="reset" value="Очистить")
            .btn-top    
    include ../common/footer
    