.section-head {
    height: 100vh;
    background-image: url(../../images/bg/forest.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
    text-align: center;
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section-head__row {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 0;
}
.person.blog-person {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin: auto;
    .person__avatar {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin:0 auto;
        // margin-bottom: 32px;
    }
}

.title.blog__title{
    font-size: 63px;
    &:before{
        background-color: #fff;
    }
    margin: 0;
}

.blog-content {
    position: relative;
    min-height: 1500px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f9f8f0;
    &:after{
        content: "";
        width: 100%;
        display: block;
        height: 185px;
    }
    .svg-both{
        display: block;
        fill: #f8f9f5;
        stroke: #f8f9f5;
    }
}
.blog-row {
    display: flex;
}
// .blog-nav__wrap{
//     width: 400px;
// }
.blog-nav__wrap{
    max-width: 310px;
    width: 30vw;
    max-height: calc(100vh - 300px);
    overflow: auto;
}
.blog-nav {
    max-width: 310px;
    
    text-align: right;
    padding-left: 30px;
}
.blog-nav__item{
    border-right: solid 3px transparent;
    transition: .2s;
}
.blog-nav__item_active{
    color: #4e8839;
    border-right: solid 3px #4e8839;
    font-weight: 600;
}
.blog-nav_fixed{
    position: fixed;
    top: 20px;
    left: 0;
    width: 30vw;
    max-height: calc(100vh - 300px);
    overflow: auto;
}
.blog-nav__link {
    display: block;
    color: inherit;
    transition: .2s;
    padding: 10px 17px 10px 0;
}

.blog-articles {
    width: 70vw;
    max-width: 1010px;
    padding-left: 100px;
}
.article {
    width: 100%;
    margin-bottom: 65px;
}
.article__title {
    font-size: 35px;
    margin-bottom: 25px;
}
.article__date {
    color: #81a970;
    margin-bottom: 25px;
}
