@media (min-width: 1800px){
    
}

@media (max-width: 992px){ //laptop
    .person.blog-person{
        height: 290px;
    }
    .blog-articles{
        padding-left: 50px;
    }
    .article{
        width: 95%; 
        max-width: 980px;
    }
    .blog-nav__wrap{
       min-width: 30vw;
    
    }
    .blog-content{
        padding-top: 30px;
        &:after{
            height: 273px;
        } 
    }
}

@media (max-width: 768px) {   //tablets
    .person.blog-person{
        height: 280px;
    }
    .blog-content{
        font-size: 14px;
        min-height: 1000px;
    }
    
    .blog-nav__wrap{
        display: none;
        // position: fixed;
        // background: #6c9c5a;
        // width: 90%;
        // left: 90%;
        // top: 0;
        // bottom: 0;
        // transition: .2s;
    }
    .blog-nav__wrap_active{
         left: 0;
    }
    .article{
        width: 100%; 
        max-width: 100%;
    }

    .blog__title{
        font-size: 50px;
    }
    .blog-articles{
        padding:0 25px;
    }
    .article__title{
        font-size: 30px;
    }
}    

@media (max-width: 480px){
     .blog-person {
        height: auto;
    }
    .blog-content{
        &:after{
            height: 388px;
        } 
    }
    .blog__title{
        font-size: 35px;
    }
    .blog-articles{
        padding:0 2.5%;
    }
    .article__title{
        font-size: 21px;
    }
    .blog-nav{
        display: block;
    }
    .blog-nav__wrap{
        display: block;
        position: fixed;
        top: 0;
        left: -90%;
        bottom: 0;
        padding-top: 50px;
        padding-left: 15px;
        width: 90%;
        font-size: 16px;
        background: #6c9c5a;
        z-index: 9999;
        transition: left .5s;
    }
    .blog-nav__wrap_active{
        left: 0;
    }
    .blog-nav__link{
        color: #d3e1ce;
        border-right: 0;
        
        &:hover{
            color: #fff;
        }
    }
    .circle-nav{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        z-index: -9;
        background: #6c9c5a; 
    }



}