@media (min-width: 1800px){
    .works-col_left{
        padding-right: 80px;
        text-align: right;
    }
    .works-col__pic{
        display: inline-block;
    }
}

@media (max-width: 992px){ //laptop
    .works-feedback{
        align-items: center;
    }
   
    .title-work__container{
        margin-bottom: 20px;
        height: 127px;
        background-size: 41%;
    }
    .title-work{
        margin-bottom: 23px;
    }
    .works-connect{
        margin: 0;
    }
    .works-connect__title{
        margin-bottom: 35px;
    }
    .works-col_right{
        padding-left: 50px;
    }
    
    .works-feedback:after {
        height: 272px;
    }
    
}

@media (max-width: 768px) {   //tablets
    .works{
        height: auto;
        .title{
            font-size: 30px;
        }
    }
    .title-work__container{
        margin-bottom: 20px;
        height: 112px;
        background-size:  auto 100px;
    }
    .title.title-work,
    .works-feedback__title.title{
        font-size: 50px;
    }   
     .works-row{
        padding-top: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .works-col{
        width: 100%;
        padding: 0;
        align-items: center;
        padding:0 10px;
    }
    .works-col_right{
        min-height: 370px;
        order: -1;
    }
    .works-desc__title{
        text-align: center;
        max-width: 95%;
    }
    .works-desc__tools{
        margin-bottom: 40px;
    }
    .works-desc__title:before{
        left: 50%;
    }
    .works-col_left{
        height: 100%;
    }
    .works-col__pic{
        bottom: 0;
    }
    .works-feedback__title-container {
        height: 162px;
        background-position: center;
        background-position-y: -7px;
        margin-top: 0px;
    }
    .works-connect{
        width: 350px;
        height: 440px;
    }
    .title.works-connect__title{
        font-size: 29px;
    }
    .works-connect__btns{
        width: 350px;
    }
}    

@media (max-width: 480px){
    .works{
        .title{
            font-size: 21px;
        }
    }
    .title-work__container {
        height: 100px;
        background-size: auto 90px;
    }
    .title.title-work,
    .works-feedback__title.title{
        font-size: 35px;
    }
    .works-row {
        height: auto;
    }
    .works-feedback{
        min-height: 1590px;
    }
    .works-feedback__row {
        padding-top: 20px;
    }
    .works-feedback__title-container{
        height: 140px;
        margin-top: 0;
        margin-bottom: 0;
        background-size: 75%;
        align-items: flex-start;
        
        background-position-y: 20px;
    }
    .works-feedback__title.title{
        max-width: 350px;
        margin-top: 40px;
    }
  
    .works-feedback__row{
        flex-direction: column;
        justify-content: flex-start;
    }
    .works-feedback__item{
        padding: 0 12px;
        width: 100%;
        margin-bottom: 40px;
    }
    .works-feedback__name{
        margin: 20px auto 0;
    }
    .works-connect{
        width: 300px;
        height: 425px;
    }
    .title.works-connect__title{
        font-size: 21px;
    }
    .works-connect__item{
        height: 40px;
    }
    .works-connect__btns{
        width: 300px;
    }
    .works-feedback:after{
        height: 389px;
    }
}